name: Release
on:
  push:
    branches: 
      - main
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v2.1.5
        with:
          semantic_version: 15.13.28
      - name: Install dependencies
        run: npm ci
      - name: Release
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        env:
          GH_TOKEN: ${{secrets.GH_TOKEN}}
        run: npx semantic-release